services:
  payment-service:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: php-payment-service
    volumes:
      - .:/app
      - /app/vendor # Prevent overwriting vendor directory
    working_dir: /app
    environment:
      - PHP_ENV=development
    command: php index.php
    networks:
      - payment-network

  payment-service-test:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        INSTALL_DEV: "true"
    container_name: php-payment-service-test
    volumes:
      - .:/app
      - /app/vendor
    working_dir: /app
    command: ./vendor/bin/phpunit
    depends_on:
      - payment-service
    networks:
      - payment-network

  payment-service-dev:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        INSTALL_DEV: "true"
    container_name: php-payment-service-dev
    volumes:
      - .:/app
    working_dir: /app
    ports:
      - "8000:8000"
    command: php -S 0.0.0.0:8000 -t /app
    environment:
      - PHP_ENV=development
    networks:
      - payment-network

networks:
  payment-network:
    driver: bridge
